---
interface Response {
  notes: Note[];
}
const response = await fetch(`${Astro.url.origin}/api/v1/notes.json`);
const { notes } = (await response.json()) as Response;
---

{notes.length === 0 && <p>No notes.</p>}
<ul>
  {
    notes.length > 0 &&
      notes.map((note) => (
        <li>
          {note.title}: {note.body}
        </li>
      ))
  }
</ul>
